- var source = charge.source;

doctype html
html
  head
    title= 'Hola'
  body(style='font-family: sans-serif;')
    div(style="padding: 20px; text-align: center;")
      img(src="http://www.dioniberica.com/assets/images/logos/logo.png", width="100")

      h1 #{charge.description}
      p Recién hemos recibido tu pedido - ¡muchas gracias!

      p Los ítems que pediste serán enviados tan pronto sea posible. ¡Esperamos verte nuevamente!

      table(border= '1', style='width: 100%')
        tr
          td Pedido num. #{charge.metadata.order_id}
          td Realizado en Mar 14, 2017
        tr
          td(style= 'vertical-align: top')
            h2 DATOS DE FACTURACIÓN
            p Pagado con #{source.brand}
            p #{source.name}
            p #{source.address_line1} #{source.address_line2 || ''}
            p #{source.address_city}, #{source.address_zip}
            p #{source.address_country}
          td(style= 'vertical-align: top')
            h2 DATOS DEL ENVÍO
            p Envío gratuito
            p #{source.name}
            p #{source.address_line1} #{source.address_line2 || ''}
            p #{source.address_city}, #{source.address_zip}
            p #{source.address_country}
            p #{email}
        tr
          td(colspan='2')
            h2 Resumen del pedido
        tr
          td(colspan='2')
            table(style='width: 100%')
              tr
                td
                  p Blister 10 comprimidos
                  p SKU: 1000
                  p Precio: €5.00
                td
                  p Cant.: 1
                td
                  p €5.00
              tr
                td(colspan='2')
                td
                  table
                    tr
                      td Subtotal
                      td 5
                    tr
                      td Envio
                      td 5
                    tr
                      td Cupon
                      td -4.95
                    tr
                      td Impuesto
                      td 0.01
                    tr
                      td Total
                      td
                        strong Total #{(charge.amount / 100).toFixed(2)} €

      p ¿Necesitas asistencia? Contáctanos.
      p Haremos todo lo posible para asegurarnos que disfrutes tu experiencia con nosotros.
      p Llámanos: 34627179740
      p Escríbenos un email: info@dioniberica.com
      p Este email fue enviado por Dion Resakapsulus Spain SL

      a(href='https://www.dioniberica.com/') https://www.dioniberica.com
      pre(style= 'text-align: initial')= JSON.stringify(charge, null, 4)
